<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737042604874-tuc6ivf8t7s0j1262kms9nkq55u39mt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737042604874-tuc6ivf8t7s0j1262kms9nkq55u39mt7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7wZR_O0r7ngGjfqNq3RgST5m8ii-_uEU</string>
	<key>GCM_SENDER_ID</key>
	<string>737042604874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab10</string>
	<key>PROJECT_ID</key>
	<string>lab10-664c8</string>
	<key>STORAGE_BUCKET</key>
	<string>lab10-664c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737042604874:ios:fa82af6a5d50d96b24d7b3</string>
</dict>
</plist>